
.searchBar {
    display: flex;
    align-items: center;
    padding: 1.46em 1.8% 1.46em 5.9%; 
    width: 100%;
    background-color: var(--color-6);
}

.icon {
    margin-right: 0.6em;
}

.inputWrapper {
    position: relative;
    width: 100%;
}

.input {
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    background-color: transparent;
    border:none;
}

.error {
    position: absolute;
    bottom: 0px;
    right: 1.6em;
    color:red;
}

.btn {
    font-size: .93rem;
    font-weight: bold;
}