.searchApp {
   max-width: 730px;
   width: 100%;
 
}

.header {

    transition: background-color 300ms;
   background-color: white;
   padding: 2.1em 7%;
   margin-bottom: 1.06em;
   border-radius: 8px;
}


.searchApp.dark .header {
    
    background-color: var(--color-8);
  }