:root 
{
    --color-1: hsl(212, 100%, 50%);
    --color-2: hsl(217, 28%, 51%);
    --color-3: hsl(217, 35%, 45%);
    --color-4: hsl(217, 21% 21%);
    --color-5: hsl(227, 100%, 98%);
    --color-6: hsl(0, 0%, 100%);
    --color-7: hsl(220, 40%, 13%);
    --color-8: hsl(222, 41%, 20%);
}

html {
  font-size: 15px;
}

#root {
  width:100vw;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: "Space Mono", monospace;
  color: var(--color-3);
}

.container-app {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-app.dark 
{
  color: var(--color-6);
  background-color: var(--color-7);
}


* {
  box-sizing: border-box;
}

* :first-child {
  margin-top: 0;
}

* :last-child {
  margin-bottom: 0;
}
p {
  line-height: 1.66;
}

h1, h2 {
  font-size: 1.066rem;
  font-weight: bold;
}

h3 {
  font-size: .866rem;
  font-weight: normal;
}

h4 
{
  font-size: 0.73rem;
  font-weight: normal;
}